{% extends "base.html" %}

{% block title %}Edit text{% endblock title %}

{% block content %}

<div class="container p-4">
    <h3 class="m-2">Aggiornamento di: <span class="text-primary">{{text.title}}</span></h3>
    <form action="" method="post">
        <div class="form-group m-2">
            <input type="text" name="contrib" id="" class="form-control" required placeholder="Nome e cognome">
        </div>

        <div class="form-group m-2">
            <input type="text" name="title" id="" class="form-control" required placeholder="Titolo" value="{{text.title}}">
        </div>

        <div class="form-group m-2">
            <textarea rows="8" name="content" id="" class="form-control" required placeholder="Contenuto">{{text.content}}</textarea>
        </div>

        <div class="form-group m-2">
            <input type="text" name="source" id="" class="form-control" required placeholder="Fonte" value="{{text.source}}">
        </div>
        <div class="form-group m-2">

            <select required class="form-control" name="level" id="">
                <option value="">-- Scegliere un livello --</option>
                <option value="3° Anno">3° Anno</option>
                <option value="4° Anno">4° Anno</option>
            </select>

        </div>

        <div class="form-group m-2">
            <select required class="form-control" name="chapter" id="">
                <option value="">--Scegliere un capitolo--</option>

                {% for chapter in chapters %}
                    <option value="{{chapter.id}}">{{chapter.chapter}}</option>
                {% endfor %}
                
            </select>
        </div>

      

        <div class="form-group m-2">
            <button class="btn btn-success" role="submit">Salva</button>
        </div>

    </form>
</div>

    
    
{% endblock content %}